//custom variables
$banner-width: 300px
$banner-height: 600px
$border-width: $banner-width - 2px
$border-height: $banner-height - 2px
$page-color: #ffffff
$font-primary: 'brandon-text-black', Helvetica, Arial, sans-serif
$text-color-primary: #ffffff
$cta-text-color: #ffffff
$cta-button-color: #FAA21B
$cta-button-incet-color: #001E60

body
	font-family: $font-primary
	-webkit-font-smoothing: antialiased
	-moz-font-smoothing: antialiased

#blackborder
	position: absolute
	width: $border-width
	height: $border-height
	top: 0px
	left: 0px
	border: 1px solid #000
	z-index: 50000

#container
	opacity: 0
	transition: .5s
	position: absolute
	width: $banner-width
	height: $banner-height
	top: 0px
	left: 0px
	overflow: hidden
	cursor: pointer
	background: #10069F
	&:hover
		#cta-button
			background-color: darken($cta-button-color, 10%)
	&:active
		#cta-button
			background-color: darken($cta-button-color, 20%)
			transform: translate(-2px, 2px)

.header
	position: absolute
	left: 0
	top: 170px
	width: $banner-width
	font-size: 36px
	line-height: 40px
	font-family: $font-primary
	color: $text-color-primary
	text-align: center
	z-index: 10

.subhead
	position: absolute
	color: #FFA300
	font-size: 25px
	top: 310px
	width: $banner-width
	text-align: center

.yellow
	color: #FFB300

#more-text
	position: absolute
	letter-spacing: -0.1px
	font-size: 14px
	text-align: center
	color: white
	left: 0
	top: 438px
	width: $banner-width
	z-index: 3

#sling-logo
	position: absolute
	left: 96px
	top: 34px
	width: 108.3px
	height: 57px
	z-index: 3

// Logos
#fox-logo
	position: absolute
	left: 37px
	top: 375px
	width: 56px
	height: auto

#msnbc-logo
	position: absolute
	left: 122px
	top: 375px
	width: 56px
	height: auto

#cnn-logo
	position: absolute
	left: 207px
	top: 375px
	width: 56px
	height: auto

// Stars
.star
	opacity: 0

.star-small
	transform: scale(.8)

#star-curve
	position: absolute
	left: 87.81px
	top: 127px
	width: 125px
	height: auto
	opacity: 0

//========= CTA & Logo  =========//	
$btn-left: 89px
$btn-top: 502px
$btn-width: 114px
$btn-height: 36px

#cta-wrapper
	position: absolute
	top: $btn-top
	left: $btn-left
	width: $btn-width
	height: 32px + 10px
	z-index: 5000

#cta-button
	position: absolute
	top: 0
	left: 0
	width: $btn-width
	height: 32px
	border: 1px solid #001E60
	background-color: $cta-button-color
	z-index: 5002

#cta-button-under
	position: absolute
	top: 3px
	left: -2px
	width: $btn-width
	height: 32px
	border-radius: 2px
	z-index: 9
	border: 1px solid #001E60
	background-color: $cta-button-incet-color
	z-index: 5001

#cta-text
	font-family: $font-primary
	font-size: 14px
	color: #001E60
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	width: 108px
	text-align: center

#restrictions
	font-family: Arial, Helvetica, sans-serif
	font-size: 10px
	position: absolute
	width: $btn-width
	top: $btn-height + 5px
	left: 0px
	color: white
	text-align: center
