//custom variables
$banner-width: 300px
$banner-height: 250px
$border-width: $banner-width - 2px
$border-height: $banner-height - 2px
$page-color: #E41932
$font-primary: 'proximanova_extrabold', Helvetica, Arial, sans-serif
$font-secondary: 'proximanova_medium', Helvetica, Arial, sans-serif
$text-color-primary: #000108
$cta-text-color: #171725
$cta-button-color: #E41932

//BTN Variables
$btn-top: 198px
$btn-left: 192px
$btn-width: 98px
$btn-height: 32px
$btn-font-size: 14px

body
    font-family: $font-primary
    color: $text-color-primary
    background-color: $page-color
    -webkit-font-smoothing: antialiased
    -moz-font-smoothing: antialiased

#blackborder
    position: absolute
    width: $border-width
    height: $border-height
    top: 0px
    left: 0px
    border: 1px solid #000
    z-index: 50000

#container
    position: absolute
    width: $banner-width
    height: $banner-height
    top: 0px
    left: 0px
    cursor: pointer
    &:hover
        #cta-button
            background-color: darken($cta-button-color, 10%)
    &:active
        #cta-button
            background-color: darken($cta-button-color, 20%)
            transform: translateY(3px)

//========= Background/Logo Elements =========//	
#logo
    position: absolute
    left: 14px
    top: 8px
    width: 89.18px
    height: 30px

#google-logo
    position: absolute
    left: 14px
    top: 173px
    width: 80px
    height: 18px
    z-index: 10

#hopper
    position: absolute
    left: 46px
    top: 31px
    width: 306px
    height: 164px
    z-index: 0
    img
        width: 100%
        height: 100%

#remote
    position: absolute
    left: 127px
    top: 31px
    width: 176px
    z-index: -1
    img
        width: 100%
        height: 100%

.white-bg
    position: absolute
    left: 0
    top: 163px
    width: $banner-width
    height: 87px
    background: #F5F5F6
    z-index: -1

//========= Text Elements =========//	
#header
    position: absolute
    left: 14px
    top: 56px
    font-size: 20px
    line-height: 21px
    letter-spacing: -.33px
    color: white

.subhead
    position: absolute
    left: 14px
    top: 196px
    font-size: 14px
    line-height: 18px

//========= CTA  =========//	
#cta-wrapper
    position: relative
    top: $btn-top
    left: $btn-left
    width: $btn-width
    height: $btn-height + 10px

#cta-button
    position: absolute
    top: 0
    left: 0
    width: $btn-width
    height: $btn-height
    border-radius: 16px
    z-index: 10
    background-color: $cta-button-color

#cta-button-under
    position: absolute
    top: 0
    left: 0
    width: $btn-width
    height: $btn-height
    border-radius: 16px
    transform: translateY(3px)
    z-index: 9
    background-color: #710C19

#cta-text
    font-family: $font-primary
    font-size: $btn-font-size
    color: #ffffff
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: $btn-width
    text-align: center

#restrictions
    font-family: $font-secondary
    font-size: 9px
    position: absolute
    top: 237px
    left: 54px
    color: #000010
    text-align: left
